.captures {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.captures a,
.captures a:visited,
.captures a:hover,
.captures a:active {
  color: #fff;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.capture-wrap {
  margin-right: 24px;
}
.capture {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 220px;
}
.capture div {
  display: block;
}

.capture-image {
  position: relative;
  display: inline-block;
}

.capture-image .front-image {
  width: 220px;
  border: 2px solid #fff;
  border-radius: 14px;
  box-sizing: border-box;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.capture-image .back-image {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  border: 2px solid #000;
  border-radius: 7px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.capture-image-dummy {
  width: 220px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 14px;
  box-sizing: border-box;
  aspect-ratio: 3 / 4;
}
.capture-comment p {
  margin: 0;
}