.custom-button {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 12px 32px;
  cursor: pointer;
}

.custom-delete-button {
  background: #000;
  color: #fff;
  border: 2px solid red;
  border-radius: 20px;
  padding: 12px 32px;
  cursor: pointer;
}

.custom-label {
  display: block;
}

.custom-textfield {
  width: 100%;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  padding: 5px 10px 7px;
  box-sizing: border-box;
}

.custom-textfield:focus {
  border-bottom: 2px solid #ffcd4f;
}

.custom-label:has(+ .custom-textfield:focus) {
  color: #ffcd4f;
}

.custom-textarea {
  width: 100%;
  height: 150px;
  background: none;
  color: white;
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 17px;
  padding: 14px;
  box-sizing: border-box;
}

.custom-textarea:focus {
  border: 2px solid #ffcd4f;
}

.custom-label:has(+ .custom-textarea:focus) {
  color: #ffcd4f;
}
