<% @images.each do |image| %>
  <div>
    <%= image.name %>
    <%= button_to('削除', image_path(image.aid), method: :delete, data: { turbo: false }) %>
    <%= image_tag(image.image_url, style: "width: 200px") %>
  </div>
  <hr />
<% end %>

<% if @images.blank? %>
画像はありません
<% end %>

<%= render 'shared/paging', pages: @total_pages, page: @page, page_to: '/images' %>
