<% provide(:title, @account.name + 'さん') %>

<p>
  <strong>名前:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @account.name_id %>
</p>

<p>
  <strong>自己紹介:</strong>
  <%= @account.description %>
</p>
