<% provide(:robots, "index, follow, archive") %>
<h1>BeAlive.</h1>
<% if @current_account %>

  <%= link_to "タイムラインへ", captures_path %>
  <br /><br />
  <%= link_to "リクエストする", new_capture_path %>

<% else %>

  <p>いつもの日常を相互確認。</p>

  <div>
    <%= link_to "続ける", sessions_start_path, class: "pages-link-button" %>
  </div>

<% end %>

<h1>みんなのキャプチャー</h1>

<% @captures.each_slice(5) do |captures_slice| %>
  <%= render "captures/captures", captures: captures_slice %>
  <br />
<% end %>