<% provide(:robots, 'index, follow, archive') %>

<% if @current_account %>

  <h1>新着</h1>
  
  <%= render 'captures/captures', captures: @captures %>
  <br /><br />
  <%= link_to 'リクエストする', new_capture_path %>

<% else %>

  <h1>BeAlive.</h1>

  <p>いつもの日常を相互確認。</p>

  <div>
    <%= link_to '続ける', sessions_start_path, class: 'pages-link-button' %>
  </div>
<% end %>

<p>
  近々、フォローしたり、見れたり、リクエストを送れるようになります！
</p>