<div class="captures-colmun">
  <% captures.each_slice(5) do |captures_slice| %>
    <div class="captures-row">
      <% captures_slice.each do |capture| %>
        <div class="captures-list">
          <%= render "captures/capture", capture: capture %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
