<% provide(:title, 'リクエストした') %>

<h1>リクエストした</h1>

<%= render 'captures/captures', captures: @sender_captures %>

<h1>リクエストされた</h1>

<%= render 'captures/captures', captures: @receiver_captures %>

<br /><br />

<%= link_to "リクエストする", new_capture_path %>

<h1>過去のすべて</h1>
<p>準備中</p>