<% provide(:title, "キャプチャー一覧") %>

<h1>タイムライン</h1>

<% @captures.each_slice(5) do |captures_slice| %>
  <%= render "captures/captures", captures: captures_slice %>
  <br />
<% end %>

<h1>リクエストした</h1>

<% @sender_captures.each_slice(5) do |captures_slice| %>
  <%= render "captures/captures", captures: captures_slice %>
  <br />
<% end %>

<h1>リクエストされた</h1>

<% @receiver_captures.each_slice(5) do |captures_slice| %>
  <%= render "captures/captures", captures: captures_slice %>
  <br />
<% end %>

<br /><br />

<%= link_to "リクエストする", new_capture_path %>

<h1>過去のすべて</h1>
<p>準備中</p>