<% provide(:title, 'セッション') %>

<h1>セッション</h1>

<div class="sessions">
  <% @sessions.each do |session| %>
    <div>
      <p>
        <strong>UUID:</strong>
        <%= session.uuid %>
      </p>

      <p>
        <strong>名前:</strong>
        <%= session.name %>
      </p>

      <p>
        <%= link_to "詳しく", session_path(session.uuid) %>
      </p>
    </div>
  <% end %>
</div>
