<% provide(:title, "セッション") %>

<h1>セッション</h1>

<div class="sessions">
  <% @sessions.each do |session| %>
    <div>
      <p>
        <strong>lookup:</strong>
        <%= session.lookup %>
      </p>
      <p>
        <strong>IP:</strong>
        <%= session.ip_address %>
      </p>

      <p>
        <strong>名前:</strong>
        <%= session.name %>
      </p>

      <p>
        <%= link_to "詳しく", session_path(session.lookup) %>
      </p>
    </div>
  <% end %>
</div>
