<% provide(:title, "はじめる") %>

<h1>はじめる</h1>
<p>ここでサインイン・サインアップができます。</p>

<%= form_with url: "/sessions/oauth", method: :post, data: { turbo: false } do %>
  <div class="custom-button">
    <%= submit_tag "ANYURで続ける", class: "" %>
  </div>
<% end %>
